.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tools {
    display: flex;
    justify-content: space-between;
    width: 730px;
}

.button {
    border: none;
    border-radius: 4px;
    height: 20px;
    background-color: #FF7F50;
    box-sizing: border-box;
    cursor: pointer;

    &:hover {
        color: #ffffff;
    }

    &:focus {
        outline: none;
    }
}

.tableBox {
    padding: 20px;
    background-color: #98FB98;
    border-radius: 10px;
    position: relative;

    table {
        background-color: #ffffff;
        border-collapse: collapse;
        border: 2px solid #696969;
        min-width: 610px;
        table-layout: fixed;
    }
}

.thead th {
    border: 2px solid #696969;
    box-sizing: border-box;
    position: relative;

    &:first-child {
        width: 60px;
    }

    &:nth-child(2) {
        width: 140px;
    }

    &:nth-child(3) {
        width: 140px;
    }

    &:nth-child(4) {
        width: 250px;
    }

    &:last-child {
        width: 140px;
    }

}

.headButton{
    background: none;
    font: {
        family: inherit;
        size: inherit;
        weight: 800;
    }
    border: none;
    width: 100%;
    height: 100%;
    text-align: start;
    padding: 7px;
    padding-right: 20px;
    cursor: pointer;
}

.trow td {
    border: 1px solid #696969;
    padding: 7px;
    box-sizing: border-box;
}

.up {
    position: absolute;
    top: 8px;
    right: 4px;
    width: 12px;
    height: 12px;

    div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: 7px;
            left: 1px;
            background-color: #006400;
            transform: rotate(45deg);
        }

    }
}

.down {
    position: absolute;
    top: 15px;
    right: 4px;
    width: 12px;
    height: 12px;

    div {
        position: relative;
        width: 100%;
        height: 100%;
        overflow: hidden;

        &::after {
            content: '';
            width: 10px;
            height: 10px;
            position: absolute;
            top: -5px;
            left: 1px;
            background-color: #006400;
            transform: rotate(45deg);
        }

    }
}

